header {
  background-color: rgb(192, 10, 192);
  padding: 20px;
  color: white;
  font-weight: bold;
  font-family: 'MuseoModerno', cursive;
}

.App {
  text-align: center;
}
.note-item {
  height: 100px;
  width: 50%;
}

.footer {
  background-color: rgb(192, 10, 192);
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
}
* {
  margin: 0%;
  padding: 0%;
}
h2 {
  font-family: 'MuseoModerno', cursive;
}

.form-control {
  font-family: 'MuseoModerno', cursive;
}
